{{ partial "header" . }}

<main id="publications">
    {{ partial "hero-splash" (dict "imageUrl" "" "title" "Select peer reviewed publications" "subtitle" "" "bgcolor" "#2980b9") }}
    <div class="bg-white content content-boxed overflow-hidden">
        <br/><br/>
<!--         {{ $pubs := (where .Data.Pages "Section" "!=" "page") }}
        {{ $pubcount := len $pubs }}
        <h3 class="text-uppercase"> {{$pubcount}} publications and counting</h3> -->
                    <!-- Justified Tabs -->
                    
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Block Tabs Justified Alternative Style -->
                            <div class="block">
                                <ul class="nav nav-tabs nav-tabs-alt nav-justified" data-toggle="tabs">
                                    <li class="active">
                                        <a href="#1"><i class="fa fa-home"></i> Wearables / Digital Health </a>
                                    </li>
                                    <li>
                                        <a href="#2"><i class="fa fa-pencil"></i> Nudges</a>
                                    </li>
                                </ul>
                                <div class="block-content tab-content">
                                    <div class="tab-pane active" id="1">
                                        <section class="content content-boxed overflow-hidden">
                                            {{ range (where .Data.Pages "Section" "!=" "page") }}
                                                {{ if eq .Params.topic "Wearables" }}
                                                    <div class="push-50">
                                                        <div class="row">
                                                            <div class="block">
                                                                <div class="block-content">
                                                                    <div class="row items-push">
                                                                        <h5 class="pull-right">{{.Params.journal}}</h5>
                                                                        <h4 class="push-10"><a class="text-primary-dark" target="_blank" href="{{.Params.source}}">{{.Params.articlename}}</a></h4>
                                                                        <em class="pull-right">{{ .Date.Format "Jan 2006" }}</em>
                                                                        <div class="font-s12 push-20">
                                                                            {{.Params.authors}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{ end }}
                                            {{ end }}
                                <!-- {{ template "_internal/pagination.html" . }} -->
                                        </section>
                                    </div>
                                    <div class="tab-pane" id="2">
                                        <section class="content content-boxed overflow-hidden">
                                            {{ range (where .Data.Pages "Section" "!=" "page") }}
                                                {{ if eq .Params.topic "Nudges" }}
                                                    <div class="push-50">
                                                        <div class="row">
                                                            <div class="block">
                                                                <div class="block-content">
                                                                    <div class="row items-push">
                                                                        <h5 class="pull-right">{{.Params.journal}}</h5>
                                                                        <h4 class="push-10"><a class="text-primary-dark" target="_blank" href="{{.Params.source}}">{{.Params.articlename}}</a></h4>
                                                                        <em class="pull-right">{{ .Date.Format "Jan 2006" }}</em>
                                                                        <div class="font-s12 push-20">
                                                                            {{.Params.authors}}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{ end }}
                                            {{ end }}
                                <!-- {{ template "_internal/pagination.html" . }} -->
                                        </section>

                                    </div>
                                </div>
                            </div>
                            <!-- END Block Tabs Justified Default Style -->
                        </div>
                    </div>
                    <!-- END Justified Tabs -->
    </div>
</main>

{{ partial "footer" . }}