{{ partial "header" . }}

    <!-- Main Container -->
    <main id="main-container bg-white" style="min-height: 431px;">
	    {{ partial "hero-splash" (dict "imageUrl" .Params.biglogo "title" .Params.title "summary" .Params.summary "txtcolor" .Params.txtcolor)}}

<div class="content bg-white">
        <section class="content content-boxed">
            <h2 class="text-center">Human behavior is the final common pathway for nearly every advance in medicine</h2>
            <hr>
            
            <div class="row">
                <div class="col-xs-12">
                <p class="lead">Mitesh Patel, MD, MBA is a Physician-Scientist and Director of the Penn Medicine Nudge Unit, the world’s first behavioral design team embedded within a health system. His research combines behavioral science with scalable technology platforms such as electronic health records and wearable devices to improve health and health care. He has led more than 20 clinical trials testing the design of nudges, incentives, and gamification to change clinician decisions and patient behaviors. He conducts consulting and speaking for a wide range of partners including health systems, insurers, biopharma and technology companies.  </p>
                </div>
            </div>
            <hr />
        </section>

    </div>
        <!-- Case studies -->
{{ $v1 := where .Data.Pages "Section" "opinions" }}
{{ $v2 := where .Data.Pages "Params.spotlight" true }}
{{ $filteredopinions := $v1 | intersect $v2 }}
        <!--div style="background-color: #6145ca; color: white;"-->
        <div >
            <br/><br/>
            <section class="content content-boxed overflow-hidden">
            <h2 class="h3 push-50 visibility-hidden" data-toggle="appear"> Opinion Pieces</h2>
                <div class="row push-20-t push-20">
                    <div class="grid">
                    </div>
                </div> 
            </section>         
        <div>
            <section class="content content-full content-boxed">
                <!-- CTA Content -->
                <div class="push-20-t push-20">
                    <a class="btn btn-rounded btn-noborder btn-md btn-info" href="casestudies">View more</a>
                </div>
                <!-- END CTA Content -->
            </section>
        </div>
        </div>
    </main>
    <!-- END Main Container -->

{{ partial "footer" . }}
