{{ partial "header" . }}

    <!-- Main Container -->
    <main id="main-container bg-white" style="min-height: 431px;">
	    {{ partial "hero-splash" (dict "imageUrl" .Params.biglogo "title" .Params.title "summary" .Params.summary "txtcolor" .Params.txtcolor )}}

<div class="content bg-white">
        <section class="content content-boxed">
            <h2 class="text-center">Human behavior is the final common pathway for nearly every advance in medicine</h2>
            <hr>
            
            <div class="row">
                <div class="col-xs-12">
                <p class="lead">Mitesh Patel, MD, MBA is a Physician Executive and Behavioral Scientist.  He is Vice President for Clinical Transformation and National Lead for Behavioral Insights at Ascension Health. Dr. Patel was previously the Founding Director of the Penn Medicine Nudge Unit, the world's first behavioral design team embedded within a health system. In this role, he led 25+ clinical trials testing the design of nudges, gamification and wearables to change clinician decisions and patient behaviors. He conducts consulting and speaking for a wide range of partners including health systems, insurers, biopharma and technology companies  </p>
                </div>
            </div>
            <hr />
        </section>

    </div>
        <!-- Case studies -->
{{ $v1 := where .Data.Pages "Section" "opinions" }}
{{ $v2 := where .Data.Pages "Params.spotlight" true }}
{{ $filteredopinions := $v1 | intersect $v2 }}
{{ $v3 := where .Data.Pages "Section" "publications" }}
{{ $v4 := where .Data.Pages "Params.spotlight" true }}
{{ $filteredpublications := $v3 | intersect $v4 }}
{{ $v5 := where .Data.Pages "Section" "press" }}
{{ $v6 := where .Data.Pages "Params.spotlight" true }}
{{ $filteredpress := $v5 | intersect $v6 }}
{{ $v7 := where .Data.Pages "Section" "av" }}
{{ $v8 := where .Data.Pages "Params.spotlight" true }}
{{ $filteredav := $v7 | intersect $v8 }}
{{ $v9 := where .Data.Pages "Section" "blog" }}
{{ $v10 := where .Data.Pages "Params.spotlight" true }}
{{ $filteredblog := $v9 | intersect $v10 }}
        <!--div style="background-color: #6145ca; color: white;"-->
        <div >
            <br/><br/>
            <div class="row push-20-t push-20">
                <section class="content content-boxed overflow-hidden">
                    <div class="block block-transparent col-lg-6">
                        <h2 class="h3 text-uppercase push-50 visibility-hidden" data-toggle="appear">Media</h2>
                        <hr/>
                        {{ range first 3 $filteredav }}
                            {{ partial "blocksindex" . }}
                        {{ end }} 
                        <div class="text-center">
                            <a class="btn btn-rounded btn-noborder btn-md btn-info" href="av">View more</a>
                        </div>
                    </div>
                    <div class="block block-transparent col-lg-6">
                        <h2 class="h3 text-uppercase push-50 visibility-hidden" data-toggle="appear">Opinions</h2>
                        <hr/>
                        {{ range first 3 $filteredopinions }}
                            {{ partial "blocksindex" . }}
                        {{ end }} 
                        <div class="text-center">
                            <a class="btn btn-rounded btn-noborder btn-md btn-info" href="opinions">View more</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row push-20-t push-20">
                <section class="content content-boxed overflow-hidden">
                    <div class="block block-transparent col-lg-6">
                        <h2 class="h3 text-uppercase push-50 visibility-hidden" data-toggle="appear"> Press</h2>
                        <hr/>
                        {{ range first 3 $filteredpress }}
                            {{ partial "blocksindex" . }}
                        {{ end }} 
                        <div class="text-center">
                            <a class="btn btn-rounded btn-noborder btn-md btn-info" href="press">View more</a>
                        </div>
                    </div>
                    <div class="block block-transparent col-lg-6">
                        <h2 class="h3 text-uppercase push-50 visibility-hidden" data-toggle="appear"> Blog</h2>
                        <hr/>
                        {{ range first 3 $filteredblog }}
                            {{ partial "blogindex" . }}
                        {{ end }}
                        <div class="text-center">
                            <a class="btn btn-rounded btn-noborder btn-md btn-info" href="blog">View more</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row push-20-t push-20">
                <section class="content content-boxed overflow-hidden">
                    <div class="block block-transparent col-lg-6">
                        <h2 class="h3 text-uppercase push-50 visibility-hidden" data-toggle="appear">Publications</h2>
                        <hr/>
                        {{ range first 3 $filteredpublications }}
                            {{ partial "blocksindex" . }}
                        {{ end }} 
                        <div class="text-center">
                            <a class="btn btn-rounded btn-noborder btn-md btn-info" href="publications">View more</a>
                        </div>
                    </div>
                </section>
            </div>            
        </div>
    </main>
    <!-- END Main Container -->

{{ partial "footer" . }}
