{{ partial "header" . }}

<main id="blog">
    {{ partial "hero-splash" (dict "imageUrl" "" "title" "Media Resources: Company Info, Press Coverage and more" "subtitle" "Behavioral Economics, Patient Engagement and Thought leadership in the press" "bgcolor" "#6CBEED") }}

    <div class="bg-white">
        <br/><br/>
        <section class="content content-boxed">
{{ range (.Paginate (where .Data.Pages "Section" "!=" "page")).Pages }}
            <!-- List Content -->
                <!-- Section Content -->
                <div class="push-50-t push-50">
                    <div class="row">
                            <!-- Story -->
                            <div class="block">
                                <div class="block-content">
                                    <div class="row items-push">
                                        {{ if .Params.image }}
                                        <div class="col-md-4">
                                            <img class="img-responsive" src="{{ .Params.image }}" alt="">
                                            </a>
                                        </div> 
                                        <div class="col-md-8">
                                            <h5 class="pull-right">{{.Params.journal}}</h5>
                                            <h4 class="push-10"><a class="text-primary-dark" target="_blank" href="{{.Params.source}}">{{.Params.articlename}}</a></h4>
                                            <em class="pull-right">{{ .Date.Format "Jan 2006" }}</em>
                                            <p class="push-20">{{.Params.summary}}</p>
                                        </div>
                                        {{ else }}
                                        <div class="col-md-12">
                                            <h5 class="pull-right">{{.Params.journal}}</h5>
                                            <h4 class="push-10"><a class="text-primary-dark" target="_blank" href="{{.Params.source}}">{{.Params.articlename}}</a></h4>
                                            <em class="pull-right">{{ .Date.Format "Jan 2006" }}</em>
                                            <p class="push-20">{{.Params.summary}}</p>
                                        </div>
                                        {{ end }}
                                    </div>
                                </div>
                            </div>
                            <!-- END Story -->
                    </div>
                </div>
{{ end }} 
{{ template "_internal/pagination.html" . }}
        </section>
    </div>
</main>

{{ partial "footer" . }}